:root{
    --primary-color:black;
    --sec-color:orange;
    --prim-background: pink;
}

body{
    margin: 0;
}
header{
    background-color: var(--prim-background);
    text-align: center;
    padding: 16px;

}

.logo-name a img{
    height: 40px;
}

.name{
    font-size: 24px;
}
.coder-text{
    color: var(--sec-color);
}

#nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;

}
#nav-bar a{
    text-decoration: none;
}